html {
  height: 100%;
}
body, h1{
  margin: 0;
  padding: 2rem;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: repeating-linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table {
  width: 800px;
  border-collapse:separate;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
caption {
  color: white;
}

h1 {
  position: fixed;
  top: -1%;
  left: -1%;
  color: #fff;
}